html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

h1 h4 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
  margin: 0;
  padding-bottom: 0.25rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Header */

.company {
  background-color: black;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 1rem;
}

.company img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

/* Main banner */

.main-banner {
  height: 25rem;
  background-image: url("https://halllou.github.io/secret-agent-supply/resources/images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  background-color: black;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem
}

/* Nav bar */

nav {
  background-color: firebrick;
}

nav ul {
  padding: 0.75rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Products */

.products {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.product {
  width: 30%;
}

.product-image {
  height: 9rem;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2rem 0;
  display: flex;
}

.product-image img {
  max-width: 8rem;
}

.description {
  background-color: black;
  padding: 0.5rem 0;
  display: block;
  text-align: center;
}

.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  padding: 1rem 2rem;
}

/* Footer */

footer {
  background-color: black;
  padding: 5rem 0;
  text-align: left;
  margin-top: 4rem;
  display: block;
}
