html {
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

body {
  font-size: 16px;
}

h1,
h4 {
  font-weight: bold;
}

h4 {
  font-size: 1em;
  margin: 0;
  padding-bottom: 0.25em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header */

.company {
  background-color: black;
}

.company .container {
  display: flex;
  align-items: center;
  padding: 0.66em 0 0.66em 1em;
}

.company img {
  height: 1.5em;
  padding-left: 0.5em;
  padding-right: 1em;
}

/* Main banner */

.main-banner {
  height: 25em;
  background-image: url("https://halllou.github.io/secret-agent-supply/resources/images/moto.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline {
  background-color: black;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

.headline h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0;
}

/* Nav bar */

nav {
  background-color: firebrick;
}

nav ul {
  padding: 0.75em 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-nav {
  display: none;
}
/* Products */

.products {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product {
  width: 30%;
}

.product-image {
  height: 9em;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 2em 0;
  display: flex;
}

.product-image img {
  max-width: 8em;
}

.description {
  background-color: black;
  padding: 0.5em 0;
  display: block;
  text-align: center;
}

.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.info {
  width: 35%;
}

.info .title {
  display: block;
  background-color: black;
  padding: 1em 2em;
}

/* Footer */

footer {
  background-color: black;
  padding: 5em 0;
  text-align: left;
  margin-top: 4em;
  display: block;
}

.mobile-company {
  display-none;
}

  .mobile-company .container {
    display: none;
}

/* Media queries */
@media only screen and (max-width: 1024px) {
  .mobile-nav {
    display: block;
    text-align: center;
  }

  nav ul {
    display: none;
  }

  .product {
    width: 47%;
  }

  .product.glasses {
    display: none;
  }

}

@media only screen and (max-width: 470px) {

  .main-banner {
    height: 15rem;
  }

  .headline {
    max-width: 100%;
    padding: 1em 2em;
    top: 10em;
  }

  .headline h4 {
    font-size: .77rem;
  }

  .headline h1 {
    font-size: 1rem;
  }

  .products,
  .business-info {
    flex-wrap: wrap;
  }

  .info {
    width: 90%;
    margin: 0.5em auto;
  }

  .product {
    width: 90%;
    margin: auto;
  }

  .product.watch {
    display: none;
  }

  footer {
    text-align: center;
  }

  .mobile-company {
    background-color: black;
  }

  .mobile-company .container {
      display: flex;
      align-items: center;
      padding: 0.66em 0 0.66em 1em;
  }

  .mobile-company img {
    height: 1.5em;
    height: 1.5em;
    padding-left: 0.5em;
    padding-right: 1em;
  }

  .company {
    display: none;
  }

  .company .container {
    display: none;
  }

  .company img {
    display: none;
  }

}
